html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

.line {
  margin-top: 0px;
  border-top: 5px solid #ff0000;
}

.stef {
  height: autp;
  width: 960px;
  margin: 0 auto;
  border-top:5px solid red;
}

.nav {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
}

.details {
  /*
  margin-top: 70px;
  margin-left: 545px;
  width: 300px;
  */
  margin-top: 85px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.nav img {
  display: inline;
  margin-top: 20px;
}

h5 {
  display: inline;
  margin: 0 20px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.pics {
  display: flex;
  justify-content: space-around;
}

a:hover {
  background-color: red;
}

h3 {
  color: red;
}

.new {
  /*
  width: 300px;
  */
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  align-items: center-left;
  width: 300px;
  float: left;
}

.layout {
  width: 75%;
  height: 170px;
  column-count: 3;
  background-color: darkgrey;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.layout h3 {
  color: black;
}

.pic {
  margin-top: 600px;
  margin-left: 450px;
}
